<header>
  <div class="row box">
    <div id="current-date" class="col-md-3">
      <div class="row">
        {{ current-date }}
      </div>
    </div>
    <div id="search-icon" class="col-md-1">
      <i class="fa fa-search fa-2x"></i>
    </div>
    <div id="search" class="col-md-7">
      {{input id="search-field" type="text" value=cityName action="search" placeholder="Search city..." class="form-control"}}
    </div>
    <div id="launch-search" class="col-md-1">
      <i class="fa fa-chevron-right fa-2x"></i>
    </div>
  </div>
</header>