<div id="main-container">
  <div class="container" id="main">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{partial "search"}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{outlet}}
      </div>
    </div>
  </div>
</div>