{{!-- rendered in application.hbs --}}
<section id="home-map-wrapper">
  <div class="row">
    <div id="home-map" class="box bg-grey">
      <img src="images/map-blank.png" class="img-responsive">
      <a href="#" data-toggle="tooltip" title="Paris">
        <i id="paris" class="fa fa-map-marker"></i>
      </a>
      <a href="#" data-toggle="tooltip" title="San Francisco">
        <i id="sf" class="fa fa-map-marker"></i>
      </a>
      <a href="#" data-toggle="tooltip" title="Rio de Janeiro">
        <i id="rio" class="fa fa-map-marker"></i>
      </a>
      <a href="#" data-toggle="tooltip" title="Tokyo">
        <i id="tokyo" class="fa fa-map-marker"></i>
      </a>
      <a href="#" data-toggle="tooltip" title="Sydney">
        <i id="sydney" class="fa fa-map-marker"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span id="search-history">
        {{#link-to 'cities'}}
          Search History >>
        {{/link-to}}
      </span>
    </div>
  </div>
</section>
